@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: radial-gradient(
    circle farthest-corner at center,
    #3c4b57 0%,
    #1c262b 100%
  );
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.sidebar{
    width: 30vw;
    height: 100vh;
    
}

.logo{
    position: absolute;
    bottom: 2.2vw;
    left: -4vw;
    transform: rotate(-90deg);
    transition: ease all 1s;

    &:hover{
        transform: rotate(90deg);
        transform: translateX(5vw);
        transition: ease all 1s;}

    img{
        width: 6vw;
    }
}

.flag{

    position: absolute;
    left: -5rem;

    img{
        width: 25vw;
    }
}

nav{

    position: absolute;
    top: 25vw;
    left: 10vw;

    ul{
        list-style: none;
        li{
            margin-bottom: 2rem;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 3rem;
                font-weight: 300;
                transition: all .3s ease-in-out;
                &:hover{
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }
}








.map{
    width: calc(100% - 30vw);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   

    h3{
        position: absolute;
        top: 10vh;
        right: 9vw;
        color: #fff;
        font-size: 2.5vw;
        font-weight: 300;
        
    }
  
    &__svg{
        transform: scale(.8);
        
        path {
            fill: #728492;
            stroke: #1c262b;
            stroke-width: 1px;
            transition: fill 0.5s;

            &:hover{
                fill: #fff;
            }

          }

    }
  
}


@media screen and (min-width: 1920px) {
    .map__svg svg{
        transform: scale(1.8);
    }
}
/* Regions */

.regionMap{
    
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 45vw;
    margin-top: 15vw;
    margin-right: 25vw;

    &:hover{
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.dottedLine{
    width: .1vw;
    height: 0;
    background-color: transparent;
    border-left: 1vw dashed #333;
    position: absolute;
    bottom: 10vw;
    right:60vw;
    animation: dotLine 2s normal;
    animation-fill-mode: forwards;
    animation-delay: 2s;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 3vw;
        -webkit-text-stroke: 1px #000000;
    }

    p{
        font-size: 2vw;
        color: #ededed;
        font-weight: 700;
        position: absolute;
        bottom: 15.7vw;
        right: 3vw;
        opacity: 0; /* Başlangıçta görünmez */
        visibility: hidden; /* Başlangıçta görünmez */
        animation: text 2s forwards;
        animation-delay: 4s;
    }


    &::after{
        content: '';
        font-size: 2vw;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: -3vw;
        left: -2vw;
        
    }

    

}

@keyframes dotLine {
    0% {
        height: 0;
    }

    100% {
        height: 15vw;
        
    }
}

@keyframes text {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}


.weather{
    position: absolute;
    top: 10vw;
    right: 3vw;
    width: 20vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-icon{

    img{
        width: 20vw;
    }
}

.temperature-value{
    
        font-size: 3vw;
        color: #fff;
        font-weight: 700;
        position: absolute;
        top: 18vw;
}

.weather-description{
    font-size: 2vw;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 22vw;
    text-transform: capitalize;
}

.location{
    font-size: 2vw;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 25vw;
}



.uixcem {
    display: block;
    position: absolute;
    bottom: 20vw;
    right: 1vw;
    transform: rotate(-90deg);

    &__mark {
        font-size: 1vw;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        animation: animatedText 4s linear infinite;
        font-family: 'Pixelify Sans', sans-serif;

        &::before {
            content: '';
            width: 8vw;
            height: 4vw;
            object-fit: contain;
            border-radius: 50%;
            background: url(../icons/yellowBrush.png) no-repeat center/contain;
            position: absolute;
            top: -1.5vw;
            right: -2vw;
            z-index: -1;
            
        }
    }
}

@keyframes animatedText {
    1% {
        color: #333;
    }
    2% {
        color: #fff;
    }
    3% {
        color: #333;
    }
    8% {
        color: #fff;
    }
    9% {
        color: #fff;
    }
    10% {
        color: #333;
    }
    11% {
        color: #fff;
    }
    12% {
        color: #333;
    }
    44% {
        color: #333;
    }
    45% {
        color: #fff;
    }
    49% {
        color: #fff;
    }
    50% {
        color: #333;
    }
    51% {
        color: #333;
    }
    52% {
        color: #fff;
    }
    53% {
        color: #333;
    }

    54% {
        color: #fff;
    }

    55% {
        color: #333;

    }

    56% {
        color: #fff;
    }

    59% {
        color: #fff;
    }
}


.modal{
    display: none!important;
}