.finlandMap{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    &__svg{
        @include responsive("small-phone"){
            transform: scale(.8);}
        @include responsive("phone"){
            transform: scale(.8);}
        @include responsive("tablet"){
        transform: scale(.8);}
        
        path {
            fill: #728492;
            stroke: #1c262b;
            stroke-width: 1px;
            transition: fill 0.5s;

            &:hover{
                fill: #fff;
            }

          }

    }
}



.map{
    width: calc(100% - 30vw);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include responsive("small-phone"){
        width: 100%;
        flex-direction: column;
        height: 90%;
        justify-content: flex-start;
        gap: 1rem;}
    @include responsive("phone"){
        width: 100%;
        height: 90%;
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;}
    @include responsive("tablet"){
        width: 100%;
        height: 90%;
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;}

    h3{
        color: #fff;
        width: 100%;
        font-size: 2.5vw;
        font-weight: 600;
        text-align: center;

        @include responsive("small-phone"){
            font-size: 3rem;
            }
        @include responsive("phone"){
            font-size: 10vw;
            }
        @include responsive("tablet"){
            font-size: 12vw;
            }

        
    }
  
    

    &__svg{
        width: 100%;
        height:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .laplandMap{
            transform: scale(.6);
        }
        .turkuMap{
            transform: scale(.6);
        }
        .helsinkiMap{
            transform: scale(.6);
        }
        .tampereMap{
            transform: scale(.4);
        }
        .ouluMap{
            transform: scale(.6);
        }




        transform: scale(1.5);
        @include responsive("small-phone"){
        margin-top: 1rem;}
        @include responsive("phone"){
        margin-top: 3rem;
        }
        @include responsive("tablet"){
        margin-top: 0rem;}    
        
        path {
            fill: #728492;
            stroke: #1c262b;
            stroke-width: 1px;
            transition: fill 0.5s;

            &:hover{
                fill: #fff;
            }

          }

    }
  
}


@media screen and (min-width: 1920px) {
    .map__svg svg{
        transform: scale(1.8);
    }
}
/* Regions */

.regionMap{
    
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 100%;
    

    // @include responsive("small-phone"){
    //     transform: scale(1.1);
    //         }
    // @include responsive("phone"){
    //         transform: scale(1.1);
    //         }
    // @include responsive("tablet"){
    //     transform: scale(1.1);
    //     }
    

    &:hover{
        
        @include responsive("small-phone"){
            transform: scale(1.2);}
        @include responsive("phone"){
                transform: scale(1.2);}
        @include responsive("tablet"){
                transform: scale(1.3);}            
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.dottedLine{
    width: .1vw;
    height: 0;
    background-color: transparent;
    border-left: 1vw dashed #333;
    position: absolute;
    bottom: 10vw;
    right: 60vw;
    animation: dotLine 2s normal;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    @include responsive("small-phone"){
        bottom: 8rem;
        left: 10rem;}
    @include responsive("phone"){
        left: 13rem;
        bottom: 10rem;}
    @include responsive("tablet"){
        left: 15rem;
        bottom: 12rem;}

    

    a{
        text-decoration: none;
        color: #fff;
        font-size: 3vw;
        -webkit-text-stroke: 1px #000000;
        @include responsive("small-phone"){
            font-size: 2.5rem;
            position: absolute;
            left: 2rem;
            bottom: -1.5rem;}
        @include responsive("phone"){
            font-size: 2.5rem;
            font-weight: 700;
            position: absolute;
            left: 2rem;
            bottom:-1rem;}
        @include responsive("tablet"){
            font-size: 3rem;
            font-weight: 700;
            position: absolute;
            left: 2rem;
            bottom: -2rem;}
    }

    p{
        font-size: 2vw;
        color: #ededed;
        font-weight: 700;
        position: absolute;
        bottom: 15.7vw;
        right: 3vw;
        opacity: 0; 
        visibility: hidden;
        animation: text 2s forwards;
        animation-delay: 4s;
        
        
    }


    &::after{
        content: '';
        font-size: 2vw;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: -3vw;
        left: -2vw;
        
    }

    

}



.weather{
    width: 50%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    @include responsive("small-phone"){ 
        margin-top:7rem ;}
    @include responsive("phone"){
        margin-top:1rem ;}
    @include responsive("tablet"){
        margin-top: -2rem ;}
}

.weather-icon{
    
    img{
        width: 20vw;
        @include responsive("small-phone"){
            width: 16rem;
           }
        @include responsive("phone"){
            width: 40rem;
            position: absolute;
            top: 42rem;
            left: 5rem;
            }
        @include responsive("tablet"){
            width: 50rem;
            position: absolute;
            top: 36rem;
            left: 6rem;
            
            }
        
    }
}

.temperature-value{
    text-align: center;
        font-size: 3vw;
        color: #fff;
        font-weight: 700;
        
        @include responsive("small-phone"){
            font-size: 4rem;

            }      
        @include responsive("phone"){
            font-size: 6rem;
            }
        @include responsive("tablet"){
            font-size: 5rem;
            }
}

.weather-description{
    font-size: 2vw;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    @include responsive("small-phone"){
        font-size: 2rem;
        }
    @include responsive("phone"){
        font-size: 3rem;
        }
    @include responsive("tablet"){
        font-size: 2.5rem;
        }
}

.location{
    font-size: 2vw;
    color: #fff;
    font-weight: 700;
    text-align: center;
    @include responsive("small-phone"){
        font-size: 2rem;
        }
    @include responsive("phone"){
        font-size: 2rem;
        }
    @include responsive("tablet"){
        font-size: 2rem;
        }
}
